* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  min-height: 80vh;
}

html, body {
  background-color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  color: rgb(70, 70, 70);
}

a{
  text-decoration: none;
}

#wrap{
  width: 800px;
  height: auto;
  margin: 0 auto;
}

#top_wrap{
  width: 100%;
  height: auto;
}

/* 공통영역 end */

.calendar {
  width: 800px;
  margin: 60px 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.year-month {
  font-size: 35px;
}

.nav {
  display: flex; 
  border: 1px solid #bdbdbd;
  border-radius: 10px;
}

.nav-btn {
  width: 28px;
  height: 30px;
  border: none;
  font-size: 16px;
  line-height: 34px;
  background-color: transparent;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  color: rgb(70, 70, 70);
}

.go-today {
  width: 75px;
  border-left: 1px solid rgb(233, 233, 233);
  border-right: 1px solid rgb(233, 233, 233);
}

.days {
  display: flex;
  margin: 25px 0 10px;
}

.day {
  width: calc(100% / 7);
  text-align: center;
}

.dates {
  display: flex;
  flex-flow: row wrap;
  height: 500px;
  border-top: 1px solid rgb(233, 233, 233);
  border-right: 1px solid rgb(233, 233, 233);
}

.date {
  width: calc(100% / 7);
  padding: 15px;
  text-align: right;
  border-bottom: 1px solid rgb(233, 233, 233);
  border-left: 1px solid rgb(233, 233, 233);
}

.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
  color: #D13E3E;
}

.day:nth-child(7n),
.date:nth-child(7n) {
  color: #396EE2;
}

.other {
  opacity: 0.3;
}

.today {
  position: relative;
  color: #696969;
  font-weight: 700;
}

.today::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 30px;
  height: 30px;
  display: block;
  background-color: #FF0000;
  border-radius: 50%;
  content: '';
}

  /*top-navbar*/

  .top-navbar {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    z-index: 1000000;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.05);
  }

  .top-navbar > a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 25px;
    font-weight: 600;
    flex: 1;
    text-decoration: none;
    transition: 300ms;
    color: rgb(70, 70, 70);
  }



/* 시간 */

  #select_box{
    width: 500px;
    height: 60px;
    border-radius: 40px;
    margin-top: 30px;
    margin: 0 auto;
  }

  select::-ms-expand {
    display: none;
  }

  #select_box select{
    width: 240px;
    height: 60px;
    border-radius: 40px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(70, 70, 70);
    border: 1px solid rgb(233, 233, 233);
    box-sizing: border-box;
    outline: none;
    float: left;
    text-align-last: center;
    text-align: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
  }

  #NoEarlierThan{
    margin-right: 20px;
  }


  
  /* create */

  #event_name{
    width: 600px;
    height: 60px;
    background-color: #fff;
    border-radius: 40px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 60px;
    text-align: center;
    margin-top: 30px;
    cursor: pointer;
    transition-duration: 0.4s;
  }

  #event_name input, #create_button{
    width: 500px;
    height: 60px;
    background-color: #fff;
    border-radius: 40px;
    font-size: 20px;
    border: 1px solid rgb(233, 233, 233);
    color:rgb(136, 136, 136);
    box-sizing: border-box;
  }

  #event_name input{
    outline: none;
    padding: 30px;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
  }

  #create_button{
    margin: 0 auto;
    line-height: 60px;
    margin-top: 30px;
    margin-bottom: 50px;
    cursor: pointer;
    transition-duration: 0.4s;
    text-align: center;
  }

  .calendar-body td:hover{
    background-color: rgb(238, 238, 238);
  }

  #create_button:hover, #CopyLink:hover, #user_name_create:hover {
    border: 1px solid #fff;
    background-color: rgb(236, 236, 236);
    color: rgb(39, 39, 39);
  }

  /* SUB table */

  .sub{
    width: 700px;
    height: auto;
    margin: 0 auto;
    line-height: 30px;
    font-size: 18px;
    margin-top: 50px;
  }

  .tg{
    border-collapse:collapse;
    border-spacing:0;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  
  .tg td{
    border: 1px solid rgb(223, 223, 223);
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;}


  .tg th{
    border: 1px solid rgb(223, 223, 223);
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;}


  .tg .tg-0lax{
    height: 30px;
    text-align: center;
    vertical-align:top;
  }

  .tg-0lax-1{
    text-align: center;
  }

  
/* members */

.members{
  width: 620px;
  height: 100px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.available{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: rgb(243, 243, 243);
  float: left;
  line-height: 100px;
  margin-bottom: 30px;
  text-align: center;
}

#CopyLink{
  width: 500px;
  height: 60px;
  background-color: #fff;
  border-radius: 40px;
  font-size: 20px;
  border: 1px solid rgb(233, 233, 233);
  color:rgb(136, 136, 136);
  box-sizing: border-box;
  line-height: 60px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#CopyLink input{
  text-align: center;
}

/* user name */

#user_name_container{
  width: 500px;
  height: 60px;
  margin: 0 auto;
  margin-bottom: 30px;
}

#user_name{
  width: 380px;
  height: 60px;
  background-color: #fff;
  border-radius: 40px;
  font-size: 20px;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
  transition-duration: 0.4s;
  float: left;
}

#user_name input {
  width: 380px;
  height: 60px;
  background-color: #fff;
  border-radius: 40px;
  font-size: 20px;
  border: 1px solid rgb(233, 233, 233);
  color:rgb(136, 136, 136);
  box-sizing: border-box;
}

#user_name input{
  outline: none;
  padding: 30px;
  font-family: 'Noto Sans KR', sans-serif;
  text-align:center;
}


#user_name{
  margin-bottom: 30px;
}

#user_name_create{
  width: 100px;
  height: 60px;
  border-radius: 40px;
  float: right;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
  border: 1px solid rgb(233, 233, 233);
  color: rgb(136, 136, 136);
  transition-duration: 0.4s;
}